*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Amazone Ember", "Helvetica Neue" , Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
      background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
     z-index: -99;
}


#header{
    height: 8vh;
    width: 100%;
    background-color: #000000;
}


#nav {
   height: 8vh;
    width: 80%;
     background-color: rgba(0,0,0,0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    position: fixed;
    left: 10%;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(15, 15, 15, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
    border-radius: 0 0 1rem 1rem;
    font-family: "Amazone Ember", "Helvetica Neue" , Arial, Helvetica, sans-serif;
    z-index: 99;
    border: solid 2px black;
   

}

#nav a:hover{
    color: #528cff;
    text-decoration: underline;
}

#nav img{
    height: 8vh;
    filter: drop-shadow(0px 0px 1px white);
}


#nav #name{
    font-size: 2rem;
    font-weight: 900;
}
/* 
#header #blur{
    width: 80%;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.258);
    border: 2px solid black;
    position: fixed;
    left: 10%;
    filter: blur(1px);
    border-radius: 0 0 1rem 1rem;
    z-index: 99;

} */


.autoshow{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear{
    from{
        opacity: 0;
        transform: translateY(80%);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeup{
    animation: fadeup both;
    animation-timeline: view();
}

@keyframes fadeup{
    from{
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

main{
    height: 100vh;
    display: flex;
}

.fadeup{
    animation-range: entry 20% cover 60%;
}


#left{
    width: 65%;
    height: 100%;
    background: linear-gradient(to right, #000000 0%, #000000 70%, #001f4d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#left .heading{
    position: relative;
    right: 20%;
    bottom: 20%;
    
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    
}

#dev {
    overflow: hidden;
    height: 8vh;
   
}

 #dev #the{
    font-weight: 800;
    color: #0055ff;
    display: inline-block;
    animation: anim 3s infinite ease;

}

 @keyframes anim{
    0%{
        transform: translateY(100%);
    }

    50%{
        transform: translateY(0%);
    }
    
    100%{
        transform: translateY(-100%);
    }

} 


#left #about-me{
    width: 60%;
    position: relative;
    right: 10%;
    bottom: 5%;
    font-size: 1.4rem;
    font-weight: 600;
    

}




#right{
    width: 35%;
    height: 100%;
   background: linear-gradient(to right, #001f4d 0%, #0055ff 100% );
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 1;
  
}

#right .img{
    height: 70vh;
    position: relative;
    bottom: 5%;
    right: 5%;
    width: 25vw;
    border-radius: 20rem;
    object-fit: cover;
    object-position: center;
    background-color: aliceblue;
   
}




#skill{
    height: 100vh;
    display: flex;
}



#left1{
    width: 65%;
    height: 100%;
    background: linear-gradient(to right, #000000 0%, #000000 70%, #001f4d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#left1 #resume {
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 12vw;
    font-weight: 600;
     position: relative;
    right: 30%;
    border: 2px solid #030303ad;
    transition: 0.3s ease;
}

#resume a{
    color: black;
}

#resume a:hover{
    color: white;
}

#left1 #resume:hover{
    transform: scale(1.03);
    background-color: #000000;
    box-shadow: 0 0 25px #e1dcdcc8;
    color: white;
    
}

#left1 #skills-p{
     width: 60%;
    position: relative;
    right: 10%;
    bottom: -5%;
    font-size: 1.4rem;
    font-weight: 600;
}




#right1{
    width: 35%;
    height: 100%;
   background: linear-gradient(to right, #001f4d 0%, #0055ff 100% );
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   flex-direction: column;
   gap: 2rem;
   z-index: 1;
  
}


#html{
    height: 8vh;
    width: 14vw;
    background-color: orangered;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
   
}

.html{
    position: relative;
    top: 10%;
    right: 6%;
    box-shadow: 2px 2px 8px black;
}





#css{
    height: 8vh;
    width: 12vw;
    background-color: royalblue;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
   
}


.css{
    position: relative;
    top: 10%;
    right: 6%;
    box-shadow: 2px 2px 8px black;
}


#js{
    height: 8vh;
    width: 20vw;
    background-color: rgb(192, 192, 13);
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
   
}

.js{
    position: relative;
    top: 10%;
    right: 6%;
    box-shadow: 2px 2px 8px black;
}


#react{
    height: 8vh;
    width: 15vw;
    background-color: blue;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
   
}



.react{
    position: relative;
    top: 10%;
    right: 6%;
    box-shadow: 2px 2px 8px black;
}



#projects{
    height: 100vh;
    display: flex;
}


#full1{
    width: 100%;
    height: 100%;
   background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
   /* background: linear-gradient(to right, #000000 0%, #000000 48%, #380000 60%, #ff0000 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* flex-direction: row; */
    
}


.p1{
    height: 40%;
    width: 40%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 5px 5px 15px black;
    border-radius: 1rem;
}

.p1:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px whitesmoke;
}

.p1 .tourist{
    height: 50%;
    width: 80%;
    object-fit: cover;
    border-radius: 1rem;
}

 .link-mix{
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: underline;
}

.link-mix:active{
    color: #0055ff;
    text-decoration: underline;
}

.p1 .tourist-para{
    width: 90%;
    font-size: 1.2rem;
    font-weight: 600;
    
}



#contect{
    height: 40vh;
    display: flex;
}



#full2{
    width: 100%;
    height: 100%;
   background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7rem;
    
    
}



#full2 a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #001738;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    
}


a .icons{
    height: 100%;
}

a #github{
    background-color: #0055ff;
    border-radius: 50%;
}

#full2 a:hover{
    
    transform: scale(1.3) translateY(-5px);
    background-color:#0055ff;
    box-shadow: 0 0 25px #0055ff;
}

footer{
    background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
    text-align: center;
    font-size: 1.5rem;
    height: 4.5rem;
    font-weight: 900;
    display: none;
    
}

footer a{
    border: 2px solid #001738;
    padding: 1rem;
    border-radius: 1rem;
    
}


@media (max-width: 480px) {

    body{
        background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
    }

  #nav {
    flex-direction: column;
    height: auto;
    gap: 0.6rem;
    padding: 0.5rem;
    width: 100%;
    left: 0;
    border-radius: 0;
    position: relative;
    top: 0;
  }


  #nav img {
    height: 6vh;
  }

  #nav h3, #nav a {
    font-size: 1rem;
  }

  main {
    flex-direction: column;
    height: auto;
  }

  
  #left, #right {
    margin-top: 45%;
    background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
    width: 100%;
    height: auto;
  }

  #right .img {
    width: 60%;
    height: auto;
    right: 0;
    bottom: 0;
    border-radius: 2rem;
    margin-top: -8rem;
  }

.image-reveal{
    animation: imageReveal both;
    animation-timeline: view(40% 20%);
}

@keyframes imageReveal{
    from{
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }to{
        filter: none;
        opacity: 0;
        scale: 1;
        translate: 0 0;
    }
}
  #left .heading {
    position: static;
    font-size: 2rem;
    text-align: center;
    margin-top: 4.5rem;
  }

  #left #about-me {
    width: 85%;
    text-align: center;
    font-size: 1rem;
    margin: 2rem auto 2rem auto;
    position: static;
  }


  #left1, #right1 {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 1rem 0;
    background: linear-gradient(to right, #000000 0%, #000000 48%, #001738 60%, #0055ff 100%);
  }

  #left1 #resume {
    width: 60%;
    font-size: 1rem;
    right: 0;
    margin-bottom: 1rem;
  }

  #left1 #skills-p {
    width: 85%;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    right: 0;
  }

  #right1 {
    gap: 3rem;
  }

  #right1 button {
    width: 65%;
    font-size: 1.1rem;
  }

  
  #full1 {
    flex-direction: column;
    height: auto;
    gap: 2rem;
    padding: 2rem 0;
    margin-top: 3rem;
  }

  .p1 {
    width: 85%;
    height: auto;
    padding: 1rem 0;
  }

  .p1 .tourist {
    width: 90%;
    height: auto;
  }

  .tourist-para {
    font-size: 0.95rem;
    text-align: center;
  }

  
  #full2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    height: auto;
    padding: 2rem 0;
    margin-top: 25rem;
  }

  #full2 a {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0.5rem;
  }

  #full2 img {
    height: 100%;
  }

  footer{
    display: inline;
    position: relative;
    top: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}



@media (min-width: 481px) and (max-width: 1024px) {

  #nav {
    width: 100%;
    left: 0;
    justify-content: space-around;
    gap: 1rem;
  }

  #nav h3, #nav a {
    font-size: 1.2rem;
  }

  main {
    flex-direction: column;
    height: auto;
  }

  #left, #right {
    width: 100%;
  }

  #right .img {
    width: 38%;
    height: auto;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 7rem;
  }

  #left .heading {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 2rem;
  }

  #left #about-me {
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
    margin: 1.5rem auto;
  }

  #left1, #right1 {
    width: 100%;
    flex-direction: column;
  }

  #left1 #resume {
    width: 40%;
    right: 0;
    margin-bottom: 1.5rem;
  }

  #left1 #skills-p {
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
  }

  #right1 button {
    width: 50%;
  }

  #full1 {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }

  .p1 {
    width: 80%;
    height: auto;
  }

  .p1 .tourist {
    width: 90%;
  }

  #full2 {
    gap: 2rem;
    flex-wrap: wrap;
    height: auto;
    padding: 2rem 0;
     margin-top: 29.5rem;
  }

  #full2 a {
    width: 3.8rem;
    height: 3.8rem;
   
  }
}


/
@media (min-width: 1025px) {
  #nav {
    width: 80%;
  }

  #left #about-me {
    width: 60%;
  }

  .p1 {
    width: 40%;
  }
}
